@font-face {
  font-family: 'Bremen';
  src: url('bremen.eot');
  src: url('bremen.eot?#iefix') format('embedded-opentype'),
       url('bremen.woff2') format('woff2'),
       url('bremen.woff') format('woff'),
       url('bremen.ttf') format('truetype'),
       url('bremen.svg#bremenbold') format('svg');
  font-weight: normal;
  font-style: normal;
}