{% extends "nupages/tenants/2/base.html" %}
{% load staticfiles i18n %}

{% block title %}Services | Jackson Tile & Design{% endblock title %}

{% block content %}
  <!-- TILE INSTALLATION
  ================================================== -->
    <section class="service-detail">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="tile-images">
              <img class="top-left" src="{% static 'images/2/tile-images/quarter-tile-sink2.jpg' %}">
              <img class="top-right" src="{% static 'images/2/tile-images/quarter-tile-mosaic-wall.jpg' %}">
              <img class="bottom" src="{% static 'images/2/tile-images/half-tile-kitchen-sink.jpg' %}">
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-6">
            <h4 class="title">Tile Installation</h4>
            <hr><!--/ .separator-->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet, odio quis elementum facilisis, ante lacus consequat tellus, eget pretium orci ante eget augue. Fusce ullamcorper imperdiet sapien. Vestibulum vel faucibus tellus, non maximus nisi. Cras quis euismod leo. Sed tempor sapien ut orci rutrum, vel tincidunt urna tincidunt.</p>
            <p>Sed nec bibendum nibh, auctor mattis nunc:</p>
            <ul>
              <li>Nulla egestas urna lectus, non feugiat tellus.</li>
              <li>Proin ut sem faucibus.</li>
              <li>Duis malesuada lorem convallis, condimentum sapien a, finibus odio. Vivamus eu neque ante.</li>
              <li>Etiam porttitor lacus at neque malesuada</li>
              <li>Aenean ac magna ligula. Mauris ac maximus quam ornare eros.</li>
            </ul>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent sit amet nunc tristique, molestie nisl quis, maximus quam. Maecenas convallis dui a leo iaculis, sit amet tincidunt leo malesuada.</p>
          </div>
        </div><!--/ .row-->
      </div><!--/ .container-->
    </section>
  <!-- END TILE INSTALLATION
  ================================================== -->

  <!-- WOOD/LAMINATE FLOORING
  ================================================== -->
    <section class="service-detail bg-primary-lighter" id="wood-laminate">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-push-6">
            <div class="tile-images">
              <img src="{% static 'images/2/tile-images/half-wood-floor2.jpg' %}">
              <img class="bottom2" src="{% static 'images/2/tile-images/half-wood-floor.jpg' %}">
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-6 col-md-pull-6">
            <h4 class="title">Wood Flooring</h4>
            <hr><!--/ .separator-->
            <p>Ut id mollis velit, et pulvinar magna. Fusce sit amet elit quis ex cursus eleifend vel sit amet felis. Quisque fermentum tempus accumsan. Etiam ligula est, pharetra et leo sed, ullamcorper placerat felis. Maecenas ultricies augue vitae magna molestie, nec rhoncus neque gravida. Donec quis venenatis ligula, sed posuere orci. Vestibulum est mi, lacinia eget purus id, aliquam commodo diam. Vestibulum id varius quam.</p>
            <p>Fusce maximus massa ut lacus sagittis varius. Etiam rhoncus commodo sapien, id scelerisque ipsum volutpat in. Curabitur vitae risus ultricies, tempus orci laoreet, tempus tellus. Pellentesque ut imperdiet justo.</p>
            <h4 class="title laminate">Laminate Flooring</h4>
            <hr><!--/ .separator-->
            <p>Sed nec bibendum nibh, auctor mattis nunc. Curabitur placerat, elit eget aliquet congue, augue sem sollicitudin nulla, eget porttitor est mi vel risus. Nulla pharetra tellus sem.</p>
            <p>Curabitur posuere sagittis sagittis. Pellentesque commodo eleifend lorem sed molestie. Etiam lacinia, nulla et convallis semper, nisl leo interdum enim, ac placerat magna ex ultrices orci. Suspendisse id aliquet nunc. Curabitur a bibendum metus. Sed vitae vulputate justo.</p>
          </div>
        </div><!--/ .row-->
      </div><!--/ .container-->
    </section>
  <!-- END WOOD/LAMINATE FLOORING
  ================================================== -->

  <!-- CONSULTATION CTA
  ================================================== -->
    <section class="cta bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="title">Signup for a free consultation!</h1>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac lorem eu dolor eleifend auctor porttitor a lacus. Nam at adipiscing metus. Cum sociis natoque penatibus et magnis dis.</p>
          </div><!--/ .col-md-7-->
          <div class="col-md-4 col-md-offset-1 text-center">
            <button class="btn btn-lg btn-primary cta-btn">Get a Consultation</button>
          </div><!--/ .col-md-4-->
        </div><!--/ .row-->
      </div><!--/ .container-->
    </section>
  <!-- END CONSULTATION CTA
  ================================================== -->
  {% endblock content %}