{% extends "nupages/tenants/2/base.html" %}
{% load staticfiles i18n %}

{% block title %}Services | Jackson Tile & Design{% endblock title %}

{% block content %}
  <!-- TILE INSTALLATION
  ================================================== -->
    <section class="service-detail">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="tile-images">
              <img class="top-left" src="{% static 'images/2/tile-bathroom-sink.jpg' %}">
              <img class="top-right" src="{% static 'images/2/tile-mosaic-wall.jpg' %}">
              <img class="bottom" src="{% static 'images/2/tile-kitchen-sink.jpg' %}">
              <div class="clearfix"></div>
            </div><!--/ .tile-images-->
          </div><!--/ .col-md-6-->
          <div class="col-md-6">
            <h4 class="title">Tile Installation</h4>
            <hr><!--/ .separator-->
            <p>Jackson Tile & Design empowers you to discover and accentuate the most beautiful features of your home, whether you choose or combine tile types like:</p>
            <ul>
              <li>Stone</li>
              <li>Travertine</li>
              <li>Mosaic</li>
              <li>Ceramic</li>
            </ul>
            <p><a href="/pages#consult">Schedule an appointment today &#8594;</a></p>
          </div><!--/ .col-md-6-->
        </div><!--/ .row-->
      </div><!--/ .container-->
    </section>
  <!-- END TILE INSTALLATION
  ================================================== -->

  <!-- WOOD/LAMINATE FLOORING
  ================================================== -->
    <section class="service-detail bg-primary-lighter" id="wood-laminate">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-push-6">
            <div class="tile-images">
              <img src="{% static 'images/2/wood-floor-dark.jpg' %}">
              <img class="bottom2" src="{% static 'images/2/wood-floor-light.jpg' %}">
              <div class="clearfix"></div>
            </div><!--/ .tile-images-->
          </div><!--/ .col-md-6-->
          <div class="col-md-6 col-md-pull-6">
            <h4 class="title">Wood Flooring</h4>
            <hr><!--/ .separator-->
            <p>Let our professionals help you find the most durable and versatile wood flooring for your home by sampling among:</p>
            <ul>
              <li>Solid Hardwood</li>
              <li>Bamboo</li>
              <li>Glued or Floating</li>
              <li>Engineered Hardwood</li>
            </ul>
            <p><a href="/pages#consult">Schedule an appointment today &#8594;</a></p>
            <h4 class="title laminate">Laminate Flooring</h4>
            <hr><!--/ .separator-->
            <p>Laminate gives you unlimited access to design your floors, walls and bathrooms with affordable options, including:</p>
            <ul>
              <li>Tile Laminate</li>
              <li>Stone Laminate</li>
              <li>Wood Laminate</li>
            </ul>
            <p><a href="/pages#consult">Schedule an appointment today &#8594;</a></p>
          </div><!--/ .col-md-6-->
        </div><!--/ .row-->
      </div><!--/ .container-->
    </section>
  <!-- END WOOD/LAMINATE FLOORING
  ================================================== -->
  {% endblock content %}