{% extends "nupages/tenants/3/base.html" %}
{% load staticfiles i18n %}

{% block title %}About | Teresa's Mosaic Cafe{% endblock title %}
{% block description %}Teresa Matias came to America in 1972 from a tiny town in Oaxaca, Mexico and founded Mosaic Cafe in 1984 to bring you the very best authentic Mexican cuisine.{% endblock description %}

{% block ogtitle %}About | Teresa's Mosaic Cafe{% endblock ogtitle %}

{% block content %}
  <!-- OWNERS
  ================================================== -->
  <section class="owners">
    <div class="container-fluid">
      <div class="row hidden-xs">
        <div class="col-sm-6">
          <div class="content-box">
            <h2 class="title">Teresa & Alfonso Matias</h2>
            <p>Meet the owners of Teresa’s Mosaic Cafe! Teresa and Alfonso came to the United States in 1972 from the Mexican state of Oaxaca. Their small hometown of Santa Maria del Tule is well-known across Mexico for its wonderful variety of flavors and spices. Teresa spent most of her childhood working with the many seasoned chefs in her family.</p>
            <p>The Matias family opened their first restaurant in 1984-- a small shack on the westside of Tucson. Thus, Teresa’s Mosaic Cafe was born! With a ton of passion, perseverance and tireless work ethic, their restaurant grew and became what it is today. Teresa has perfected the authentic Oaxacan and Sonoran recipes with plenty of her own sazón (unique, flavorful touch) and only the freshest ingredients… That’s exactly what Teresa’s Mosaic Cafe will welcome you with on every visit!</p>
            <img class="frame-top-left" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/frame-corner1.png">
            <img class="frame-top-right" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/frame-corner2.png">
            <img class="frame-bottom-left" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/frame-corner3.png">
            <img class="frame-bottom-right" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/frame-corner4.png">
          </div><!--/ .content-box-->
        </div><!--/ .col-md-6-->
      </div><!--/ .row.hidden-xs-->
      <div class="row visible-xs">
        <div class="section-heading col-xs-12">
          <h1 class="title">Teresa & Alfonso Matias</h1>
        </div><!--/ .section-heading-->
        <div class="img-wrapper col-xs-12">
          <div class="img-frame">
            <img class="img-responsive img-rounded img-profile" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/teresa-alfonso-matias-xs.jpg" title="Teresa & Alfonso Matias at the Tequila Bar" alt="Portrait of Teresa & Alfonso Matias in front of the Tequila Bar"/>
            <img class="frame-top-left" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/frame-corner1.png">
            <img class="frame-top-right" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/frame-corner2.png">
            <img class="frame-bottom-left" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/frame-corner3.png">
            <img class="frame-bottom-right" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/frame-corner4.png">
          </div><!--/ .img-frame-->
        </div><!--/ .img-wrapper-->
        <div class="col-xs-12">
          <p>Meet the owners of Teresa’s Mosaic Cafe! Teresa and Alfonso came to the United States in 1972 from the Mexican state of Oaxaca. Their small hometown of Santa Maria del Tule is well-known across Mexico for its wonderful variety of flavors and spices. Teresa grew up around the many spices and flavors of her mother’s kitchen.</p>
          <p>The Matias family opened their first restaurant in 1984-- a small shack on the westside of Tucson. Thus, Teresa’s Mosaic Cafe was born! With lots of passion, their restaurant grew and became what it is today. Teresa has perfected the authentic Oaxacan and Sonoran recipes with plenty of her own sazón (unique, flavorful touch) and only the freshest ingredients… That’s exactly what Teresa’s Mosaic Cafe will welcome you with on every visit!</p>
        </div><!--/ .col-xs-12-->
      </div><!--/ .row.hidden-xs-->
    </div><!--/ .container-fluid-->
  </section>
  <!--/ OWNERS
  ================================================== -->

  <!-- EXECUTIVE CHEF
  ================================================== -->
  <section class="exec-chef">
    <div class="container">
      <div class="row">
        <div class="section-heading col-xs-12">
          <h1 class="title">David Matias</h1>
          <h3 class="subtitle">Executive Chef</h3>
        </div><!--/ .section-heading-->
      </div><!--/ .row-->
      <div class="row">
        <div class="col-xs-12 text-center" style="font-size: 18px;">
          <p><strong>Graduated from the Culinary Institute of America</strong></p>
        </div><!--/ .col-xs-12-->
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
          <img class="img-responsive img-rounded img-profile" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/david-matias.jpg" title="David Matias: Executive Chef" alt"Portrait of David Matias, Executive Chef at Teresa's Mosaic Cafe"/>
        </div><!--/ .col-md-4-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </section>
  <!--/ EXECUTIVE CHEF
  ================================================== -->

  <!-- CATERING
  ================================================== -->
  <section class="catering">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h1 class="title">Catering</h1>
          <div style="font-size: 18px;">
            <p>Teresa’s Mosaic Cafe offers catering services for any and all occasions, both pickup and full-service delivery… Spice up your party, wedding reception or company event with a savory Mexican feast!</p>
            <p><strong>For more information, please call <a href="tel:5206244512" title="Call Teresa's Mosaic Cafe about Catering">(520) 624-4512</a>.</strong></p>
          </div>
        </div><!--/ .col-md-6-->
        <div class="col-md-7 col-sm-10 img-wrapper">
          <div class="img-frame">
            <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/catering-van.jpg" title="Catering Van at Teresa's Mosaic Cafe" alt="Teresa's Mosaic Cafe's catering van gets ready for a delivery"/>
            <img class="frame-top-left" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/frame-corner1.png">
            <img class="frame-top-right" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/frame-corner2.png">
            <img class="frame-bottom-left" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/frame-corner3.png">
            <img class="frame-bottom-right" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/frame-corner4.png">
          </div>
        </div><!--/ .col-md-6-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </section>
  <!--/ CATERING
  ================================================== -->
{% endblock content %}