{% extends "nupages/tenants/3/base.html" %}
{% load staticfiles i18n %}

{% block title %}Media | Teresa's Mosaic Cafe{% endblock title %}
{% block description %}As one of the hottest Mexican restaurants in Tucson, Mosaic Cafe has been featured in countless publications from Arizona Daily Star to the Food Network.{% endblock description %}

{% block ogtitle %}Media | Teresa's Mosaic Cafe{% endblock ogtitle %}

{% block content %}
   <!-- VIDEO GALLERY
  ================================================== -->
  <section class="video-gallery">
    <div class="container">
      <div class="row">
        <div class="section-heading col-xs-12">
          <h1 class="title">Video Gallery</h1>
        </div><!--/ .section-heading-->
      </div><!--/ .row-->
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="video-wrapper">
            <iframe src="//www.youtube.com/embed/MIXKlcYnNOU?controls=2&showinfo=0&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
          </div><!--/ .video-wrapper-->
          <h4 class="video-title">Food Network - Throwdown! with Bobby Flay: Huevos Rancheros</h4>
        </div><!--/ .col-md-4-->
        <div class="col-md-4 col-sm-6">
          <div class="video-wrapper">
            <iframe src="//www.youtube.com/embed/rIwLnxHbsFU?controls=2&showinfo=0&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
          </div><!--/ .video-wrapper-->
          <h4 class="video-title">KVOA News 4 Tucson Tailgate Cookout </h4>
        </div><!--/ .col-md-4-->
        <div class="col-md-4 col-sm-6">
          <div class="video-wrapper">
            <iframe src="//www.youtube.com/embed/KnVsAzlsb-k?controls=2&showinfo=0&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
          </div><!--/ .video-wrapper-->
          <h4 class="video-title">Food Network - Huevos Rancheros from Teresa's Mosaic Cafe (Version 1)</h4>
        </div><!--/ .col-md-4-->
        <div class="col-md-4 col-sm-6">
          <div class="video-wrapper">
            <iframe src="//www.youtube.com/embed/TdOG72WDt_8?controls=2&showinfo=0&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
          </div><!--/ .video-wrapper-->
          <h4 class="video-title">Food Network - Huevos Rancheros from Teresa's Mosaic Cafe (Version 2)</h4>
        </div><!--/ .col-md-4-->
        <div class="col-md-4 col-sm-6">
          <div class="video-wrapper">
            <iframe src="//www.youtube.com/embed/q-TBD4YYRS0?controls=2&showinfo=0&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
          </div><!--/ .video-wrapper-->
          <h4 class="video-title">Food Network - Mole Negro from Teresa's Mosaic Cafe</h4>
        </div><!--/ .col-md-4-->
        <div class="col-md-4 col-sm-6">
          <div class="video-wrapper">
            <iframe src="//www.youtube.com/embed/BRTSVU6WqHc?controls=2&showinfo=0&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
          </div><!--/ .video-wrapper-->
          <h4 class="video-title">Sueno Americano (Version 1)</h4>
        </div><!--/ .col-md-4-->
        <div class="col-md-4 col-sm-6">
          <div class="video-wrapper">
            <iframe src="//www.youtube.com/embed/5RdMh62GfjQ?controls=2&showinfo=0&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
          </div><!--/ .video-wrapper-->
          <h4 class="video-title">Sueno Americano (Version 2)</h4>
        </div><!--/ .col-md-4-->
        <div class="col-md-4 col-sm-6">
          <div class="video-wrapper">
            <iframe src="//www.youtube.com/embed/Du4HGGkeSTo?controls=2&showinfo=0&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
          </div><!--/ .video-wrapper-->
          <h4 class="video-title">Sueno Americano (Version 3)</h4>
        </div><!--/ .col-md-4-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </section>
  <!--/ VIDEO GALLERY
  ================================================== -->

  <!-- ========== PARALLAX IMAGE DIVIDER ========== -->
  <div class="parallax-window hidden-xs" data-parallax="scroll" data-image-src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/parallax/david-teresa-news4.jpg"></div>
  <div class="parallax-window visible-xs" data-parallax="scroll" data-image-src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/parallax/david-teresa-news4-xs.jpg"></div>
  <!-- ==========/ PARALLAX IMAGE DIVIDER ========== -->

  <!-- PRESS
  ================================================== -->
  <section class="press">
    <div class="container">
      <div class="row">
        <div class="section-heading col-xs-12">
          <h1 class="title">Press</h1>
        </div><!--/ .section-heading-->
      </div><!--/ .row-->
      <div class="row">
        <div class="col-md-6 article">
          <h3 class="title">Best Huevos Rancheros in Tucson</h3>
          <img class="source" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/press/tucson-weekly.png" title="Tucson Weekly Logo"/><div class="clearfix"></div>
          <span class="date">Best of Tucson 2014</span>
          <p class="snippet">There's a reason Teresa's holds on to a win in this category year after year. There are innumerable ways to screw up this simple dish, but the excellently prepared eggs topped with the restaurant's...</p>
          <a class="btn btn-sm btn-primary" href="http://www.tucsonweekly.com/tucson/best-huevos-rancheros/BestOf?oid=4849840" target="_blank" title="Tucson Weekly: Best Huevos Rancheros">Read More<i class="fa fa-arrow-right"></i></a>
        </div><!--/ .col-md-6-->
        <div class="col-md-6 article">
          <h3 class="title">New Year’s Eve Hangover Cure: Mexican Menudo</h3>
          <img class="source" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/press/nbc-latino.png" title="NBC Latino Logo"/><div class="clearfix"></div>
          <span class="date">January 1, 2013</span>
          <p class="snippet">The real cure for a hangover? According to just about every medical authority, it’s not to drink too much in the first place. But for those of us who—ahem—didn’t heed that advice...</p>
          <a class="btn btn-sm btn-primary" href="http://nbclatino.com/2013/01/01/new-years-eve-hangover-cure-mexican-menudo/" target="_blank" title="NBC Latino: New Year’s Eve Hangover Cure, Mexican Menudo">Read More<i class="fa fa-arrow-right"></i></a>
        </div><!--/ .col-md-6-->
        <div class="col-md-6 article">
          <h3 class="title">Best Menudo in Tucson</h3>
          <img class="source" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/press/tucson-weekly.png" title="Tucson Weekly Logo"/><div class="clearfix"></div>
          <span class="date">Best of Tucson 2012</span>
          <p class="snippet">Some think menudo is just soup made from cow stomach and corn—but it can be so much more than that. Sometimes, cooks throw in tendon, feet and other cow parts, too...</p>
          <a class="btn btn-sm btn-primary" href="http://www.tucsonweekly.com/tucson/best-menudo/BestOf?oid=3533931" target="_blank" title="Tucson Weekly: Best Menudo">Read More<i class="fa fa-arrow-right"></i></a>
        </div><!--/ .col-md-6-->
        <div class="col-md-6 article">
          <h3 class="title">Following Prince Harry to the American Southwest</h3>
          <img class="source" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/press/huffington-post.png" title="Huffington Post Logo"/><div class="clearfix"></div>
          <span class="date">October 18, 2011</span>
          <p class="snippet">Prince Harry is currently in the desert Southwest completing the last phase of his Apache Helicopter Conversion to Role Course. He is splitting his time over the next two months...</p>
          <a class="btn btn-sm btn-primary" href="http://www.huffingtonpost.com/natalie-pace/prince-harry-comes-to-the_b_1016813.html" target="_blank" title="Huffington Post: Following Prince Harry to the American Southwest">Read More<i class="fa fa-arrow-right"></i></a>
        </div><!--/ .col-md-6-->
        <div class="col-md-6 article">
          <h3 class="title">Big Oaxacan expansion for Teresa's</h3>
          <img class="source" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/press/tucson-dot-com.png" title="Tucson.com Logo"/><div class="clearfix"></div>
          <span class="date">September 7, 2011</span>
          <p class="snippet">After enjoying a surge in business following its Food Network exposure a year ago, a west-side restaurant is expanding. Teresa's Mosaic Cafe and its chef, David Matias...</p>
          <a class="btn btn-sm btn-primary" href="http://tucson.com/entertainment/dining/big-oaxacan-expansion-for-teresa-s/article_de00eed0-b3d7-50ee-93c5-20d0982520b4.html" target="_blank" title="Tucson.com: Big Oaxacan expansion for Teresa's">Read More<i class="fa fa-arrow-right"></i></a>
        </div><!--/ .col-md-6-->
        <div class="col-md-6 article">
          <h3 class="title">Tucsonans win with food at Teresa's Mosaic Cafe</h3>
          <img class="source" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/press/inside-tucson-business.png" title="Inside Tucson Business Logo"/><div class="clearfix"></div>
          <span class="date">August 13, 2010</span>
          <p class="snippet">Chef David Matias of Teresa’s Mosaic Cafe took on the Food Network’s Bobby Flay in an episode of “Throwdown! with Bobby Flay” in which the two chefs squared off over their versions...</p>
          <a class="btn btn-sm btn-primary" href="http://www.insidetucsonbusiness.com/community_lifestyle/meals_entertainment/tucsonans-win-with-food-at-teresa-s-mosaic-cafe/article_c4216856-41a6-58f5-884f-a1d767bf39c3.html" target="_blank" title="Inside Tucson Business: Tucsonans win with food at Teresa's Mosaic Cafe">Read More<i class="fa fa-arrow-right"></i></a>
        </div><!--/ .col-md-6-->
        <div class="col-md-6 article">
          <h3 class="title">Flay edges Mosaic on “Throwdown”</h3>
          <img class="source" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/press/tucson-dot-com.png" title="Tucson.com Logo"/><div class="clearfix"></div>
          <span class="date">August 13, 2010</span>
          <p class="snippet">This one surprised us: Bobby Flay beat out Teresa's Mosaic Cafe in the "Throwdown with Bobby Flay" huevos rancheros competition, which first aired Wednesday on Food Network...</p>
          <a class="btn btn-sm btn-primary" href="http://tucson.com/lifestyles/food-and-cooking/article_119026c9-ad6e-561f-b32b-88e5a58a866e.html" target="_blank" title="Tucson.com: Flay edges Mosaic on &quot;Throwdown&quot;">Read More<i class="fa fa-arrow-right"></i></a>
        </div><!--/ .col-md-6-->
        <div class="col-md-6 article">
          <h3 class="title">Throwdown with Bobby Flay: Season 8, Episode 6</h3>
          <img class="source" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/press/tv-guide.png" title="TV Guide Logo"/><div class="clearfix"></div>
          <span class="date">August 11, 2010</span>
          <p class="snippet">Teresa and David Matias of Teresa's Mosaic Cafe in Tucson defend their huevos rancheros, listed in the book "500 Things To Eat Before It's Too Late."</p>
          <a class="btn btn-sm btn-primary" href="http://www.tvguide.com/shows/throwdown-with-bobby-flay-292697/episode-6-season-8/" target="_blank" title="TV Guide: Throwdown with Bobby Flay - Season 8, Episode 6">See More<i class="fa fa-arrow-right"></i></a>
        </div><!--/ .col-md-6-->
        <div class="col-md-6 article">
          <h3 class="title">Throwdown with Bobby Flay: Tucson Edition</h3>
          <img class="source" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/press/tucson-weekly.png" title="Tucson Weekly Logo"/><div class="clearfix"></div>
          <span class="date">August 9, 2010</span>
          <p class="snippet">Can Bobby Flay beat Teresa’s Mosaic Café in a huevos rancheros throwdown? Will Flay’s mastery over Southwestern flavors falter when the Matias family brings generations of...</p>
          <a class="btn btn-sm btn-primary" href="http://www.tucsonweekly.com/TheRange/archives/2010/08/09/throwdown-with-bobby-flay-tucson-edition" target="_blank" title="Tucson Weekly: Throwdown with Bobby Flay, Tucson Edition">Read More<i class="fa fa-arrow-right"></i></a>
        </div><!--/ .col-md-6-->
        <div class="col-md-6 article">
          <h3 class="title">Meet the Chef: David Matias, Teresa’s Mosaic Cafe</h3>
          <img class="source" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/press/tucson-citizen.png" title="Tucson Citizen Logo"/><div class="clearfix"></div>
          <span class="date">April 5, 2006</span>
          <p class="snippet">David Matias may cook like a gourmet, but he eats like a regular guy. Even five years after his graduation from the Culinary Institute of America, Matias still prefers...</p>
          <a class="btn btn-sm btn-primary" href="http://tucsoncitizen.com/morgue/2006/04/05/7779-meet-the-chef-david-matias-teresa-s-mosaic-caf/" target="_blank" title="Tucson Citizen: Meet the Chef - David Matias, Teresa’s Mosaic Cafe">Read More<i class="fa fa-arrow-right"></i></a>
        </div><!--/ .col-md-6-->
        <div class="col-md-6 article">
          <h3 class="title">Local chef recipe: Huevos Rancheros</h3>
          <img class="source" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/press/tucson-citizen.png" title="Tucson Citizen Logo"/><div class="clearfix"></div>
          <span class="date">April 5, 2006</span>
          <p class="snippet">This recipe is courtesy of David Matias, head chef at Teresa’s Mosaic Café. Huevos Rancheros: 3 roasted tomatoes, 2 eggs, 1 bean tostada, 1 roasted jalapeño (peeled and deveined)...</p>
          <a class="btn btn-sm btn-primary" href="http://tucsoncitizen.com/morgue/2006/04/05/8111-local-chef-recipe-huevos-rancheros/" target="_blank" title="Tucson Citizen: Local chef recipe, Huevos Rancheros">Read More<i class="fa fa-arrow-right"></i></a>
        </div><!--/ .col-md-6-->
        <div class="col-md-6 article">
          <h3 class="title">10Best: Teresa’s Mosaic Cafe</h3>
          <img class="source" src="https://s3-us-west-2.amazonaws.com/mosaic-cafe/images/press/usa-today.png" title="USA TODAY Logo"/><div class="clearfix"></div>
          <p class="snippet">Oaxaca, Mexico, is not a region that is frequently represented in American restaurants, so it's a treat to have breakfast at Teresa's Mosaic Cafe. Specialities include Huevos en Salsa and...</p>
          <a class="btn btn-sm btn-primary" href="http://www.10best.com/destinations/arizona/tucson/west-tucson/restaurants/teresas-mosaic-cafe/" target="_blank" title="USA TODAY 10Best: Teresa’s Mosaic Cafe">Read More<i class="fa fa-arrow-right"></i></a>
        </div><!--/ .col-md-6-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </section>
  <!--/ PRESS
  ================================================== -->
{% endblock content %}